{% extends "AppCambioPrecios/base.html" %}
{% block titulo %} Inicio de sesión {% endblock %}
{% block ttituloBanner %}
<h2>
  Inicio <span></span> de <br />
  Sesión<span>.</span>
</h2>
{% endblock %}
{% block contenidoCambiante %}
<style>
  .about {
    padding: 0;
  }
  h1 {
    color: #114c5f;
  }

  body {
    margin: 0;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
    background-image: url("../../../AppCambioPrecios/static/AppCambioPrecios/assets/images/about/gotasclaras.jpg"); /* Cambia esta ruta */
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif; /* Fuente atractiva */
  }

  .title-container {
    text-align: center;
    margin-top: 50px; /* Espacio desde la parte superior */
    color: white; /* Color del texto */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra para mejor legibilidad */
  }

  .title-container h1 {
    font-size: 4rem; /* Tamaño del texto */
    margin: 0; /* Sin margen */
    padding: 100px 0; /* Espacio alrededor del texto */
    letter-spacing: 2px; /* Espaciado entre letras */
  }

  .login-container {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Centrar el contenedor */
  }

  .login-container h2 {
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 0;
    color: #114c5f;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  form p {
    margin: 10px 0;
  }

  .form-group {
    position: relative;
    margin-bottom: 20px;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    padding-left: 40px; /* Espacio para el icono */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .form-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
  }

  .btn-submit {
    background-color: #50C878;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .btn-submit:hover {
    background-color: #32e26d;
  }

  .errorlist {
    color: red;
    margin-bottom: 10px;
  }
</style>

<div class="title-container">
  <h1>Gestión de Precios Aguas</h1> <!-- Título estilizado -->
</div>

<div class="login-container">
  <img src="../../../AppCambioPrecios/static/AppCambioPrecios/assets/logo/normas.ivess.png" alt="Logo" style="width: 50%; margin-bottom: 20px;" />
  <h2>Iniciar Sesión</h2>
  <form method="post">
      {% csrf_token %}
      <div class="form-group">
          <i class="fas fa-user"></i>
          {{ form.username }}
      </div>
      <div class="form-group">
          <i class="fas fa-lock"></i>
          {{ form.password }}
      </div>
      <button type="submit" class="btn-submit">Iniciar sesión</button>
  </form>
</div>

<!-- Agregar FontAwesome para los iconos -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
{% endblock contenidoCambiante %}